@import '../constants.scss';


/* ----------------------------------------------------------

	Security Pages
	Security | Terms & Conditions | Privacy Policy | Cookie Policy | ...

------------------------------------------------------------- */

/* ============= General ============= */

[class*=security] {
	color: $color_black;

	.container {
		width: 1200px;
		max-width: 100%;
	}
}

/* ============= Hero Section ============= */

.security-hero {
	background: url('../../img/security_hero_bg.png') no-repeat top center, $color_orange_light;
	background-size: contain;
	padding: 70px 0 50px;

	.skew-bg {
		background-color: $color_black;
		color: $color_white;
		-webkit-transform: skew(-20deg, 0deg);
		transform: skew(-20deg, 0deg);
		padding: 20px;
		margin: 0 auto;
		text-align: center;

		.hero-title {
			-webkit-transform: skew(20deg, 0deg);
			transform: skew(20deg, 0deg);
			font-family: $font_playfair_display, $font_helvetica, $font_sans_serif;
			font-weight: 700;
			letter-spacing: -1.5px;
			line-height: 56px;
		}
	}
	
	.flex-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row!important;

		.flex-item {
			width: 30%;
			text-align: center;
			padding: 60px;
			background-color: $color_white;
			color: $color_black;
			margin-top: 60px;

			.link-logo {
				width: 70px;
				margin-bottom: 25px;
			}
			.link-title {
				font-weight: 500;
				letter-spacing: 6.72px;
				text-transform: uppercase;
			}
			&:hover,
			&.active {
				background-color: $color_dark_red_approx;
				color: $color_white;

				.link-logo {
					-webkit-filter: invert(100%);
					filter: invert(100%);
				}
			}
		}
	}
}

/* ============= Content Section ============= */

.security-content {
	padding: 50px 0;
	line-height: 1.6;

	.page-title {
		font-family: $font_playfair_display, $font_helvetica, $font_sans_serif;
		font-weight: 700;
		line-height: 40px;
	}
	.content-title {
		color: $color_dark_red_approx;
		font-size: 24px;
		font-weight: 700;
	}
	p {
		font-size: 15px;
		line-height: 1.6; 
	}
	li {
		font-size: 15px;
		line-height: 1.6;
	}
	table {
		margin: 1em 2em;

		td, th {
			padding: .2em 1em;
		}
		.checkbox-label {
			width: 50px;
			margin: 0;
		}
		.gpdr-checkbox-custom:checked+.checkbox-label {
			box-shadow: inset 0 0 0 18px $color_sail_blue_approx, 0 0 0 2px $color_sail_blue_approx;
		}
	}
}

/* ============= Success Dialog ============= */

#security_action_result {
	background: $color_white;
	margin: auto;
	padding: 1vw;
	text-align: center;
	min-height: 25rem;
	float: none;
	width: 600px;
	max-width: 90%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.result_title {
		img {
			width: 80px;
			height: auto;
			margin-bottom: 2rem;
		}
	}
	.result_message {
		font-size: 1.6rem;
		font-weight: 500;
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1.25em;
	}
}

/* ============= Responsive ============= */

@media (max-width: $screen-lg-max) {

	/* Hero Section */
	.security-hero {
		padding: 5.83vw 0 4.17vw;

		.skew-bg {
			padding: 1.67vw;

			.hero-title {
				letter-spacing: -0.125vw;
				line-height: 4.67vw;
			}
		}
		
		.flex-group {
			.flex-item {
				padding: 5vw;
				margin-top: 5vw;

				.link-logo {
					width: 5.83vw;
					margin-bottom: 2.08vw;
				}
				.link-title {
					letter-spacing: 0.566vw;
				}
			}
		}
	}

	/* Content Section */
	.security-content {
		padding: 4.17vw 0;

		.content-title {
			font-size: 2vw;
		}
		.page-title {
			line-height: 3.33vw;
		}
		p {
			font-size: 1.42vw;
		}
		li {
			font-size: 1.42vw;
		}
	}
}

@media (max-width: $screen-sm-max) {

	[class*=security] {
		.container {
			max-width: 90% !important;
		}
	}

	/* Hero Section */
	.security-hero {
		background-size: auto;
		background-position: center center;
		padding: 40px 0 20px;

		.skew-bg {
			padding: 10px;

			.hero-title {
				letter-spacing: -1px;
				line-height: 40px;
			}
		}
		
		.flex-group {
			.flex-item {
				width: 100%;
				padding: 20px;
				margin-top: 30px;

				.link-title {
					letter-spacing: 3px;
				}
			}
		}
	}

	/* Content Section */
	.security-content {

		.content-title {
			font-size: 16px;
		}
		table {
			margin: 0;

			td {
				padding: 7px 0;
				label {
					margin-right: 10px;
				}
			}
		}

		.btn-primary {
			width: 100px;
			font-size: 10px !important;
			min-width: auto;
			height: 40px;
		}
		p {
			font-size: 15px;
			line-height: 22px !important;
		}
		li {
			font-size: 15px;
			line-height: 22px !important;
		}
	}
	
	/* Links */
	.security-links {
		margin: 20px 0 50px;

		.link {
			padding: 20px;
			letter-spacing: 3px;
			text-transform: uppercase;
			box-shadow: 0 2px 4px $color_black_50;
			margin-bottom: 15px;
			display: block;
			color: $color_black;

			&:hover {
				background-color: $color_dark_red_approx;
				color: $color_white;
			}
		}
	}
}


/*******************************************

	Form Components

********************************************/

.gpdr-toggle, .gpdr-toggle:active{
	position: absolute;
	top: -500rem;
	height: 0;
	width: 0;
	opacity: 0;
	border: none;
	outline: none;
}

.checkbox-label{
	display: block;
	position: relative;
	padding: 1rem;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	line-height: 1.6rem;
	width: 100%;
	height: 2.5rem;
	-webkit-border-radius: 1.8rem;
	-moz-border-radius: 1.8rem;
	border-radius: 1.8rem;
	background: $color_desert_storm_approx;
	cursor: pointer;

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		line-height: 3.4rem;
		text-indent: 4rem;
		height: 2.3rem;
		width: 2.3rem;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		top: 1px;
		left: 0;
		right: auto;
		background: $color_white;
		-webkit-box-shadow: 0 3px 3px $color_black_20, 0 0 0 2px $color_alto;
		-moz-box-shadow: 0 3px 3px $color_black_20 , 0 0 0 2px $color_alto;
		box-shadow: 0 3px 3px $color_black_20, 0 0 0 2px $color_alto;
	}

	&:after {
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		left: -30rem;
		padding: 1rem;
		height: 100%;
		width: 30rem;
		text-align: right;
		color: $color_lightgray_bg;
		white-space: nowrap;
	}
}

.gpdr-toggle:checked + .checkbox-label{
	-webkit-box-shadow:inset 0 0 0 2rem $color_gdpr_checkbox_shadow,0 0 0 2px $color_gdpr_checkbox_shadow;
	-moz-box-shadow:inset 0 0 0 2rem $color_gdpr_checkbox_shadow,0 0 0 2px $color_gdpr_checkbox_shadow;
	box-shadow:inset 0 0 0 2rem $color_gdpr_checkbox_shadow,0 0 0 2px $color_gdpr_checkbox_shadow;

	&:before {
		left:calc(100% - 2.2rem);
		-webkit-box-shadow:0 0 0 2px transparent;
		-moz-box-shadow:0 0 0 2px transparent;
		box-shadow:0 0 0 2px transparent;
	}

	&:after {
		left: 6rem;
		width: 3.6rem;
	}
}

.gpdr-checkbox-custom + .checkbox-label{
	-webkit-box-shadow:inset 0 0 0 0 $color_gdpr_checkbox_shadow,0 0 0 2px $color_alto;
	-moz-box-shadow:inset 0 0 0 0 $color_gdpr_checkbox_shadow,0 0 0 2px $color_alto;
	box-shadow:inset 0 0 0 0 $color_gdpr_checkbox_shadow,0 0 0 2px $color_alto;
}

.gpdr-checkbox-custom:checked + .checkbox-label{
	-webkit-box-shadow:inset 0 0 0 18px $color_gdpr_checkbox_shadow,0 0 0 2px $color_gdpr_checkbox_shadow;
	-moz-box-shadow:inset 0 0 0 18px $color_gdpr_checkbox_shadow,0 0 0 2px $color_gdpr_checkbox_shadow;
	box-shadow:inset 0 0 0 18px $color_gdpr_checkbox_shadow,0 0 0 2px $color_gdpr_checkbox_shadow;

	&:after {
		color:$color_gdpr_checkbox_shadow;
	}
}
