@import 'constants.scss';

.txt-blue {
	color: $color_chambray_approx !important;
}

.txt-black {
	color: $color_black_111111 !important;
}

.txt-light-blue {
	color: $color_azure_approx !important;
}

.txt-purple {
	color: $color_purple_heart_approx !important;
}

.txt-lighter-purple {
	color: $color_purple_heart_approx !important;
}

.txt-light-pink {
	color: $color_sea_pink_approx !important;
}

.txt-light-pink2 {
	color: #E0698F !important;
}

.txt-dark-green {
	color: $color_blue_chill_approx !important;
}

.txt-pink {
	color: $color_dark_red_approx !important;
}

.txt-light-grey {
	color: $color_regent_gray_approx !important;
}

.txt-red {
	color: $color_cinnabar_approx !important;
}

.txt-orange {
	color: $color_pizazz_approx !important;
}

.pink {
	color: $color_red_violet_approx !important;
}

.txt-white {
	color: $color_white !important;
}