@font-face {
	font-family: 'Montserrat';
	font-weight: normal;
	src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 100;
	src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	src: url("../fonts/Roboto/RobotoCondensed-Light.ttf") format("truetype");
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: normal;
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Playfair Display';
	font-weight: 700;
	src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
	font-family: 'Bebas Neue';
	font-weight: normal;
	src: url("../fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype");
}
